<!-- app/views/boards/index.html.erb -->
<div class="container mt-4">
  <h1 class="mb-4 text-center">Meus Boards</h1>

  <div class="row">
    <% @boards.each do |board| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-primary"><%= board.title %></h5>
            <div class="mt-auto d-flex justify-content-between align-items-center">
              <%= link_to board_path(board), class: "btn btn-outline-primary btn-sm flex-grow-1 mx-1" do %>
                <i class="fas fa-eye"></i> Ver
              <% end %>
              <%= link_to edit_board_path(board), class: "btn btn-outline-secondary btn-sm flex-grow-1 mx-1" do %>
                <i class="fas fa-edit"></i> Editar
              <% end %>
              <%= button_to board_path(board), method: :delete, data: { confirm: "Tem certeza que deseja excluir este board?" }, class: "btn btn-outline-danger btn-sm flex-grow-1 mx-1" do %>
                <i class="fas fa-trash"></i> Excluir
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to new_board_path, class: "btn btn-success btn-lg mt-3 d-block mx-auto", style: "max-width: 200px;" do %>
    <i class="fas fa-plus"></i> Novo Board
  <% end %>
</div>