<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card.description %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= card.position %>
  </p>

  <p>
    <strong>List:</strong>
    <%= card.list_id %>
  </p>

</div>
